@tailwind utilities;

:root {
  --background: #0e0e0e;
  --foreground: #e6e6e6;

  --inner-fill: #1a1919;

  --tier-color: #ffd166;
  --tier-color-border: #ffd16614;
  --tier-color-glow: #ffd16659;
}

.tier-S {
  --tier-color: #ffd700;
  --tier-color-border: #ffd70014;
  --tier-color-glow: #ffd70059;
}
.tier-A {
  --tier-color: #34d399;
  --tier-color-border: #34d39914;
  --tier-color-glow: #34d39959;
}
.tier-B {
  --tier-color: #3b82f6;
  --tier-color-border: #3b82f614;
  --tier-color-glow: #3b82f659;
}
.tier-C {
  --tier-color: #c084fc;
  --tier-color-border: #c084fc14;
  --tier-color-glow: #c084fc59;
}
.tier-D {
  --tier-color: #ef4444;
  --tier-color-border: #ef444414;
  --tier-color-glow: rgba(239, 68, 68, 0);
}
.tier-E {
  --tier-color: #caa6ff;
  --tier-color-border: #caa6ff14;
  --tier-color-glow: #caa6ff59;
}
.tier-F {
  --tier-color: #0f0f0f;
  --tier-color-border: #2b2b2b14;
  --tier-color-glow: rgba(43, 43, 43, 0);
}
.tier-unassigned {
  --tier-color: #9ca3af;
  --tier-color-border: #9ca3af14;
  --tier-color-glow: #9ca3af59;
}

html,
body {
  height: 100%;
  background: var(--background);
  color: var(--foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.tier-text-glow {
  text-shadow:
    0 0 10px var(--tier-color-glow),
    0 2px 6px var(--tier-color-glow);
}

.tier-text {
  color: var(--tier-color);
  text-shadow:
    0 0 10px var(--tier-color-glow),
    0 2px 6px var(--tier-color-glow);
  font-weight: bold;
  font-size: 4rem;
  line-height: 1;
}

@media (min-width: 640px) {
  .tier-text {
    font-size: 4rem;
  }
}

.glow {
  box-shadow: 0 0 2px 2px #48abe0;
}
